.content {
    margin: 0.5% auto;
    margin-left: 0.5%;
    margin-right: 2%;
    width: 80%;
    height: 98%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.05);
    border-right: 2px solid rgba(0, 0, 0, 0.05);
}