.main {
  margin     : 0 auto;
  padding-top: 2.5%;

  .message {
    span {
      padding-left: 15px;
      font-size: 16px;
    }

    h1 {
      text-align: center;
      margin   : 0;
      font-size: 32px;
    }
    
    p {
      margin: 5px 0;
      padding-left: 15px;
      font-size: 22px;
    }
  }

  .errorImage {
    width: 500px;
  }
}