.nav {
  margin: 0.5% 0 0 auto;
  width: 200px;
  height: max-content;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);

  p {
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
    width: max-content;
    line-height: 18px;
    font-size: 18px;
  }
}