.input {
  display         : block;
  overflow        : hidden;
  resize          : none;
  border          : none;
  outline         : 0px;
  background-color: transparent;
  font-size       : 14px;
  padding         : 0;
  width           : 100%;
}