.notification {
  position: fixed;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 50px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  span {
    margin: 0 auto;
    display: block;
    width: max-content;
    font-size: 24px;
  }
  img {
    position: absolute;
    left: 460px;
    top: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    transition: 0.1s ease-in-out;
    &:hover {
      transform: translateY(-1.5px);
    }
  }
}
